
{# Import foreign key models #}
{% if router.imports.models %}
{% for model_import in router.imports.models %}
from {{ model_import.module_path }} import {{ model_import.import_name }}
{% endfor %}
{% endif %}

# Import utilities

from {{ project_name }}.src.api.utils.router_handler import RouterHandler
from .{{ router.name }}_config import {{ router.model.model_name }}Config
from {{ project_name }}.src.api.utils.query_helpers import QueryBuilder, AggregationType
from {{ project_name }}.src.api.utils.response_helpers import PaginationBuilder, ResponseFormatter



