-- Create {{ node_name }} nodes from {{ module.name }}
SELECT * FROM cypher('{{ project_name }}', $
    CREATE (n:{{ node_name }} {
        id: row.id,
        {% set included_cols = [] %}
        {% for col in module.model.column_analysis if col.sql_column_name != 'id' and not col.sql_column_name.endswith('_id') %}
        {% set _ = included_cols.append(col) %}
        {% endfor %}
        {% for col in included_cols %}
        {{ col.sql_column_name }}: row.{{ col.sql_column_name }},
        {% endfor %}
    })   
$) AS (result agtype)
FROM {{ module.name }} row;