import pandas as pd
from pathlib import Path

from db.database import SessionLocal

# CSV_DIR = "https://food-oasis-data.s3.amazonaws.com/{{ directory_name }}"
CSV_DIR = Path(
    r"C:\Users\18057\Documents\Data\Food_FAO\Organized\{{ directory_name }}"
)

def get_csv_path_for(filename):
    return f"{CSV_DIR}/{filename}"
