from fastapi import APIRouter
from {{ project_name }}.src.core import settings

{% for router in router_group %}
from .{{router.name}} import router as {{router.name}}
{% endfor %}

{{group_name}}_api = APIRouter(
  prefix=f"/{settings.api_version_prefix}", 
  tags=["{{group_name}}"],
)

{% for router in router_group %}
{{group_name}}_api.include_router(
  {{router.name}}, 
  prefix=f"/{{group_name}}", 
  tags=["{{group_name}}", "{{router.name}}"],
)
{% endfor %}

{{ group_name }}_group_map = {
    "description": "{{ group_name }}",
    "routes": [
        {% for router in router_group %}
        {
            "name": "{{ router.name }}",
            "description": "{{ router.description }}",
            "path": f"/{ settings.api_version_prefix }/{{ group_name }}/{{ router.name }}",
        },
        {% endfor %}
    ],
}

# Export the sub-API
__all__ = ["{{group_name}}_api", "{{ group_name }}_group_map"]