{% for module_name in modules %}from . import {{ module_name }}
{% endfor %}from {{ project_name }}.src.db.database import run_with_session


def run_all(db):
    print("Running {{ pipeline_name }} pipeline")
    {% for module_name in modules %}
    {{ module_name }}.run(db)
    {% endfor %}


if __name__ == "__main__":
    run_with_session(run_all)
    print("{{ pipeline_name }} pipeline complete")